/**
 * @file
 * Customization for Dual
 *
 */

@import "base";

//
//
// Styles for the site
//
//

/**
 * @file
 * Customization for Dual
 *
 */
/* *******************
   Color Variables
******************* */
/* *******************
 		Mixins
******************* */

body {
  font-size: 95%;
}

main {
  background-color: #ffffff !important;
  background-image: none;
}

table {
  border-collapse: collapse;
  font-size: 95%;
  font-family: Verdana,"DejaVu Sans",sans-serif;
}

tr:nth-of-type(odd) {
  background: #fff !important;
}

tr:nth-of-type(even) {
  background: #fff !important;
}

th {
  font-weight: normal;
  background-color: #fff !important;
  padding: 10px !important;
  border-bottom: 0px solid #E9E9E9 !important;
  border-top: 0px solid #E9E9E9 !important;
}

td, th {
  padding: .5em;
  text-align: left;
}

tr {
  border-bottom: 0px solid white;
}

td, th {
  border-right: 0px solid white;
}

header {
  position: relative;
  width: 100%;
}

#logoImage {
  height: 275px !important;
}

header #header-custom-height-2ndlevel {
  height: 140px !important;
}

.front-page-banner {
  max-height: 340px !important;
}

.site-name {
  display: none;
}

.parent-site-header {
  height: 34px;
  background-color: #0083d6;
  width: 100%;
  font-size: 110%;
  font-weight: bold;
}

.parent-site-header a {
  color: #ffffff;
  display: block;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.parent-site-header a:hover, .parent-site-header a:active, .parent-site-header a:focus, .parent-site-header a:visited {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  color: #ffffff;
}

header#department {
  display: none;
}

.home-cal {
  margin-left: 15px;
  width: 300px;
}

#post-it-note-pos {  
  position: absolute;
  	top: 20px;
  	right: 0;
  	width: 200px;
	height: 200px;
}

#post-it-note-pos2 {  
  position: absolute;
  	top: -45px;
  	right: 0;
  	width: 200px;
	height: 200px;
}

#inside-search-box {
  background-color: rgba(0, 0, 0, 0.7);
}

input.rounded {
  border: 0px solid #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 4px;
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;
  font-size: 13px;
  color: #666666;
  padding: 4px 4px;
  margin-left: 15px;
  outline: 0;
  -webkit-appearance: none;
  width: 300px;
}

input.rounded:focus {
  border-color: #808080;
}

select.rounded {
  border: 0px solid #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 4px;
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;
  font-size: 13px;
  color: #8E8E8C;
  padding: 3px 3px;
  margin-left: 0px;
  outline: 0;
  height: 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(http://library.wwu.edu/files/images/dropdown_arrow_on.gif) no-repeat right white;
}

select.rounded option.room {
  font-size: 13px;
  padding-top: 4px !important;
}

input.roundedbutton {
  border: 1px solid #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 4px;
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;
  font-size: 14px;
  padding: 2px 5px;
  margin-left: 1px;
  outline: 0;
  -webkit-appearance: none;
  background: #bad80a;
  color: #003f87;
}

input.roundedbutton:focus {
  border-color: #808080;
}

input.roundedbutton:hover {
  background: #ffffff;
  color: #003f87;
  border-color: #003f87;
}

.mywesternlinks {
  margin: 20px 0px 90px 5px;
}

#api_search_group_iid572 select {
  width: 250px !important;
}

.tagline {
  position: relative;
  left: 70px;
  font-weight: normal;
}

.cal-link {
  position: relative;
  top: -25px;
  left: 40px;
}

.home-chat {
  margin-top: -20px;
}

div.home-chat span {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  float: right;
  padding-right: 10px;
}

.home-chat {
  float: right;
  padding: 40px 40px 0px 0px;
}

.set-height {
  min-height: 395px;
  max-height: 395px;
}

footer a {
  color: #ffffff;
  text-align: left;
}

#panel-home-4col {
  border: 0px #E9E9E9 solid;
  max-height: 800px;
  min-height: 400px;
  padding: 5px;
}

#servicesfor {
  height: 460px;
}

#acct-access {
  height: 460px;
}

#acct-access li {
  margin-left: -10px;
}

#newsevents {
  height: 460px;
}

#newsevents li {
  margin-left: -10px;
}

#newsevents ul {
  border: 0px solid #E9E9E9 !important;
  background-color: #fff;
}

#eventscal {
  height: 460px;
}

#servicesfor li, #acct-access li, #newsevents li {
  padding-top: 10px;
}

#panel-home-4col .panel-panel {
  border: 0px #E9E9E9;
  border-style: solid;
  min-height: 400px;
  max-height: 600px;
  margin-bottom: -5px !important;
}

#panel-home-4col .pane-title {
  background-color: #bad80a;
  padding: 5px 5px;
  font-size: 95%;
  font-weight: bold;
  margin-top: 0px;
  margin-left: 0px;
  width: 95%;
}

#panel-home-4col .more-link {
  float: right;
  font-size: small;
  padding-top: 10px;
  padding-right: 10px;
}

#libcal {
  margin: 20px;
}

.showtight {
  float: right;
  font-size: small;
  margin-top: -15px;
}

#api_upc_cid3673_iid388 .s-lc-ea-l, .s-lc-ea-tdes, .s-lc-ea-tcat, .s-lc-ea-h3, .s-lc-ea-tpre {
  display: none;
}

#api_upc_cid3673_iid388 td {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

#api_upc_cid3673_iid388 td a {
  padding-top: 0px !important;
}

#api_upc_cid3673_iid388 tr {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: #ececec 0px dotted !important;
  line-height: 18px;
  font-size: 90%;
}

/* Events*/

.tevent {
  @import "//fonts.googleapis.com/css?family=Muli:400,400italic";
  font-family: Muli,Tahoma,Verdana,"DejaVu Sans",sans-serif !important;
  font-size: 90% !important;
  width: 100% !important;
  border-bottom: 1px dotted #ccc !important;
  border-collapse: separate !important;
  border-spacing: 1px !important;
  margin-bottom: 0.5em !important;
  margin-top: 0.7em !important;
}

.hrmenu {
  border: 0;
  height: 1px;
  width: 75%;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.tevent {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 0.7em !important;
  margin-top: 0.7em !important;
}

#landing-page .panel-pane, .panelizer-view-mode .panel-pane, #landing-page #block-accordion-menu-7 {
  border: 4px 4px 0px 4px !important;
  border-color: #E9E9E9 !important;
  border-style: solid !important;
  padding: 10px !important;
  margin-bottom: 10px !important;
}

#landing-page .panel-pane, .panelizer-view-mode .panel-pane h2, #landing-page #block-accordion-menu-7 {
  padding-top: 0px !important;
}

.pane-entity-field, .pane-node-links.link-wrapper {
  border: 0px;
}

.view-id-cpnws .view-footer li, .view-id-giving_page .view-footer li {
  margin-left: 30px !important;
  font-size: 0.925em;
}

#title10063557.headerbox, #title2463523.headerbox, #title9366115.headerbox, #title10881926.headerbox, #title11048036.headerbox, #profile_links, #api_profile_uid89788_iid572 .headerbox, #api_profile_uid14753_iid572 .headerbox, #api_boxes_iid92_boxmoreways .la_headerbox, #la_qid_443257 .la_topics {
  display: none !important;
}

.outerbox {
  padding: 0px !important;
}

#api_box_iid572_bid10881926 {
  background-color: #000000 !important;
}

.jonroom {
  margin-top: 30px;
}

.jonroom2 {
  margin-top: -30px;
}

.pane-block h2, .pane-views h2 {
  font-size: 19px;
  margin-top: 0.5em;
}

.pane-block h2 img, .pane-views h2 img {
  vertical-align: middle;
}

.footer-left {
  margin-left: 3%;
}

.footer-left #footer-left-heading h3 {
  font-size: 1.3em;
  color: #ffffff;
  margin-top: 14px;
}

.footer-left #footer-left-contact-info {
  padding-right: 1.25em;
  margin-top: 1.500em;
  font-size: 0.75em;
}

.footer-left p:first-child, .footer-left dl:first-child {
  font-size: 95%;
  line-height: 1.7;
  margin-bottom: 1.500em;
  display: block;
  clear: both !important;
}

.footer-left #footer-left-contact-info img {
  float: left;
  padding-right: .625em;
}

.footer-left #footer-left-contact-info p {
  margin-bottom: 10;
}

.footer-left #footer-left-contact-info a {
  color: white;
}

.view-id-library_exhibits .view-display-id-page_4 img {
  float: left;
  margin: 5px 5px 20px 10px;
  padding: 0;
}

.view-id-library_exhibits td {
  border-bottom: 1px dotted #333333;
  width: 50%;
  vertical-align: top;
}

.view-id-library_exhibits .col-1 {
  border-right: 1px dotted #333333;
}

.view-id-library_exhibits img {
  margin-top: 5px;
}

.view-id-library_exhibits li {
  display: block;
  list-style: none;
  text-decoration: none;
}

.site-header .site-banner {
  max-height: 170px;
  overflow: hidden;
}

.page-title {
  margin-bottom: .5em;
}

.page-title h1 {
  display: none;
}

#online-chat {
  float: right;
  margin-top: 4px;
  padding-right: 60px;
}

.pane-news article {
  border-bottom: 3px solid #E9E9E9;
  padding: 10px 0px;
}

#newsview .field-name-taxonomy-vocabulary-6 {
  display: none;
}

#speccol-header img {
  margin: 5px auto;
  display: block;
}

/* ****************************************************
                Mobile-size -> 480px
**************************************************** */
@media all and (max-width: 480px) {

  .servicesfor-popular, .acct-access-class, .eventscal-class, .newsevents-class {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/wwuzen/js/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
    min-width: 320px;
    padding-left: 0px;
    height: 100%;
  }

  #api_upc_cid3673_iid388 {
    width: 94%;
  }

  .showtight {
    padding-right: 30px;
  }

  #newsevents {
    margin-top: 2em;
    height: 100%;
  }

  #newsevents .view-News {
    width: 94%;
  }

  .refphone {
    left: -2.1em;
    position: relative;
  }

  .refphone-text {
    position: relative;
    left: -2.1em;
  }

  .lastUnit {
    display: block;
  }

  .page {
    background: #ffffff;
  }

  #panel-home-4col {
    max-height: 100%;
  }

  .today {
    position: relative;
    left: -108px;
    top: -25px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    color: #000;
  }

  .today a {
    color: blue;
  }

  .unit {
    float: none;
  }

  .panel-col-twenty-five {
    width: 100%;
  }

  .main-nav div div .menu li ul li {
    background-color: #0083D6;
    font-size: 1em;
  }

  .main-nav div div .menu li ul li a {
    color: #ffffff;
  }
  
#block-menu-block-4 .block-title {
    display: none !important;
  }

#todaynew {
  display: none;
  }

#libe-alert {
  }

.western-header nav {
  z-index: 0;
  }

}
/* ****************************************************
                Mobile-size -> 321px to 360px
**************************************************** */
@media all and (min-width: 321px) and (max-width: 360px) {

  .today {
    left: -150px;
  }

  
#block-menu-block-4 .block-title {
    display: none !important;
  }

#post-it-note-pos, #post-it-note-pos2 {  
  z-index: -999;
}

#todaynew {
  display: none;
  }

}
/* ****************************************************
                Mobile-size -> 361px to 480px
**************************************************** */
@media all and (min-width: 361px) and (max-width: 480px) {

  .today {
    left: -269px;
  }

  #api_upc_cid3673_iid388 {
    width: 100%;
  }

  .page {
    background: #ffffff;
  }
  
#block-menu-block-4 .block-title {
    display: none !important;
  }

#post-it-note-pos, #post-it-note-pos2 {  
  z-index: -999;
}

#todaynew {
  display: none;
  }

}
/* ****************************************************
                Mobile-size -> 481px to 640px
**************************************************** */
@media all and (min-width: 481px) and (max-width: 640px) {

  .page {
    background: #ffffff;
  }

  .servicesfor-popular {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/wwuzen/js/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    width: inherit;
    padding-left: 0px;
    height: 100%;
  }

  .acct-access-class {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/wwuzen/js/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    position: relative;
    top: -12px;
    height: 100%;
  }

  .eventscal-class {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/wwuzen/js/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
    padding-right: 60px;
    padding-left: 0px;
    height: 100%;
  }

  .newsevents-class {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/wwuzen/js/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    padding-left: 0px;
    height: 100%;
  }

  .newsevents-class {
    margin-top: 2em;
    position: relative;
    top: -30px;
    height: 100%;
  }

  .newsevents-class .view-News {
    width: 85%;
  }

  .today {
    position: relative;
    left: -425px;
    top: -136px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    color: #000;
  }

  .today a {
    color: blue;
  }

  #api_upc_cid3673_iid388 {
    width: 100%;
  }

  
  #panel-home-4col { 
    margin-top: 60px;
  }

  .refphone {
    left: -2.1em;
    position: relative;
  }

  .refphone-text {
    position: relative;
    left: -2.1em;
  }

  .lastUnit {
    display: block;
  }

  main {
    margin-top: 60px;
  }

  .unit {
    float: none;
  }

  .panel-col-twenty-five {
    width: 100%;
  }

  #panel-home-4col .panel-panel {
    max-height: 100%;
    min-height: 100%;
  }
  
#block-menu-block-4 .block-title {
    display: none !important;
  }

#post-it-note-pos, #post-it-note-pos2 {  
  z-index: -999;
}
  
}
/* ****************************************************
              Mobile-size -> 641px to 800px
**************************************************** */
@media all and (min-width: 641px) and (max-width: 800px) {

  #block-menu-block-4 .block-title {
    display: none !important;
  }

  main {
    margin-top: 60px;
  }

  #panel-home-4col { 
    margin-top: 60px;
  }

  .main-nav div div .menu li a {
    color: blue;
  }

  #logoImage {
    display: none;
  }

  .page-title {
    display: none;
  }

  #block-tb-megamenu-menu-main-nav {
    display: none;
  }

  .today {
    position: relative;
    left: -558px;
    top: -157px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    color: #000;
  }

  .today a {
    color: blue;
  }

  .page {
    background: #ffffff;
  }

  .refphone {
    left: -2.1em;
    position: relative;
  }

  .refphone-text {
    position: relative;
    left: -2.1em;
  }

  #servicesfor {
    height: 100%;
  }
  
#post-it-note-pos, #post-it-note-pos2 {  
  z-index: -999;
}
  
}
/* ****************************************************
              Mobile-size <- 800px
**************************************************** */
@media all and (max-width: 800px) {

  .main-nav div div .menu li a {
    color: #fff;
  }

  #logoImage {
    display: none;
  }

  .page-title {
    display: none;
  }

  #block-tb-megamenu-menu-main-nav {
    display: none;
  }

  .main-nav .menu {
    width: 91%;
  }
  
.footer-left, .footer-center, .footer-right, .western-contact-info, .western-social-media {
    width: auto !important;
}

#post-it-note-pos, #post-it-note-pos2 {  
  z-index: -999;
}

}
/* ****************************************************
              Mobile-size -> 800px
**************************************************** */
@media all and (min-width: 801px) {

  #main-menu {
    display: none;
  }

  .front .today {
    position: relative;
    left: -9px;
    top: -387px;
    color: #ffffff;
  }

  .today {
    color: #FFFFFF;
    left: -9px;
    position: relative;
    top: -252px;
  }

  .today a {
    color: #ffffff;
  }

  #servicesfor, #acct-access, #eventscal {
    border-right: 4px solid #E9E9E9 !important;
    padding: 2px;
  }

  #eventscal {
    padding-right: 5px;
  }

  #acct-access {
    padding-right: 0px;
  }

  #panel-home-4col {
    border: 4px #E9E9E9 solid;
  }

  .footer-right {
    margin-left: 66.5%;
  }

  .burr-flipped-sidebar .pane-block-54 {
    margin-top: -28px;
  }
}

/* ****************************************************
              END OF MOBILE
**************************************************** */

.view-id-staff_directory th {
background-color: #ececec !important;
}

.speccol-otherblock .pager {
    display: none;
}

/* ****************************************************
                   start 3 things
**************************************************** */

#table_newsletter, #header_newsletter h1, #header_newsletter h2, #header_newsletter p {margin: 0; padding: 0;}

#top-message p, #bottom-message p {color: #3f4042; font-size: 12px; font-family: Arial, Georgia, "Times New Roman"; }

#header_newsletter h1 {color: #ffffff !important; font-family: Arial, Georgia, "Times New Roman"; font-size: 24px; margin-bottom: 0!important; padding-bottom: 0; }

#header_newsletter h2 {color: #ffffff !important; font-family: Arial, Georgia, "Times New Roman"; font-size: 24px; margin-bottom: 0 !important; padding-bottom: 0; }

#header_newsletter p {color: #ffffff !important; font-family: Verdana, Arial, Georgia, "Times New Roman"; font-size: 10px; font-weight: bold; margin: 2px 3px 2px 3px; }

#header_newsletter a:link, #header_newsletter a:visited, #header_newsletter a:active, #header_newsletter a:hover {color: #ffffff !important; font-family: Verdana, Arial, Georgia, "Times New Roman"; font-size: 10px; font-weight: bold; margin: 2px 3px 2px 3px; }

#main_newsletter {border: 1px solid #2C2C2C; }

#table_newsletter img {display: block; padding:10px;}

#table_newsletter a {color: #4A72AF;}

#table_newsletter h1, #table_newsletter h2, #table_newsletter h3, #table_newsletter h4, #table_newsletter h5, #table_newsletter h6 {margin: 0 0 0.8em 0;}

#table_newsletter h3 {font-size: 28px; color: #444444; font-family: Arial, Georgia, "Times New Roman"; }

#table_newsletter h4 {font-size: 22px; color: #4A72AF; font-family: Arial, Georgia, "Times New Roman"; }

#table_newsletter h5 {font-size: 15px; color: #ffffff; font-family: Arial, Georgia, "Times New Roman"; padding: 3px; }

#table_newsletter p {font-size: 12px; color: #444444; font-family: Verdana, Arial, Georgia, "Times New Roman"; line-height: 1.5; }

#introtext {padding:5px !important; font-size: 12px; color: #444444; font-family: Verdana, Arial, Georgia, "Times New Roman"; line-height: 1.5; background-color: #EDF3F8;}

.three_things_block {
border-bottom: 0px solid;
padding-bottom: 3px;
}

.field-name-field-3-things-article-title {
  font-size: 28px; color: #444444;
  margin-bottom: -10px;
}

.field-name-field-3-things-author .field-label {
  font-weight: normal;
}

.field-name-field-3-things-author-title {
  margin: -20px 0px;
}

.node-type-3-things-article .panel-pane {
  border: 4px 4px 0px 4px !important;
  border-color: #E9E9E9 !important;
  border-style: solid !important;
  padding: 10px !important;
  margin-bottom: 10px !important;
}

.node-type-3-things-article .pane-1, .panel-flexible .pane-library-newsletter {
border: 0px !important;
}

.panel-flexible .node-title {
  display: none !important;
}

.panel-flexible #new3things table  {
  margin-top: -4px;
  margin-left: 0px;
}

.threethings-right-col {
  width: 19% !important;
}

#landing-page .pane-library-newsletter {
  
}

.pane-simplenews-18960 .pane-title {
  line-height: 1.2em;
}

.usability-study {
    background: #0070b6 none repeat scroll 0 0;
    margin: 35px auto auto;
    text-align: center;
    width: 300px;
    border: 1px solid transparent;
    font-weight: 300;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.usability-study a {
    color: #fff;
}

/* ****************************************************
                   end 3 things
**************************************************** */

.subscribe {
  float: right;
  margin-top: -30px;
  background: url("images/email.png") left center no-repeat; /* LTR */
  padding: 2px 0 2px 18px; /* LTR */
}

.view-id-Digital_Collections td img {
  float: left;
  margin: 5px;
  background: none repeat scroll 0 0 #000000;
  padding: 3px;
  clear: both;
}

#webform-client-form-15507 .fieldset-legend {
  color:#000;
  font-size:30px;
} 

#testsearchbox {
  background-color: rgba(0, 131, 214, 0.6);
  font-size: 0.8em;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  border: 0px solid rgba(0, 0, 0, 0.5);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 4px;
  max-width: 1000px;
  min-width: 650px;
  line-height: 28px;
}

.bartlett-flipped-sidebar-inner {
margin-top: 0px;
}

.preamble-pane .pane-title {
line-height: 30px;
}

.form-submit {
  background-color: #ececec;
  }

.webform-component--supervisor-approval {
    display: none !important;
}

.form-warning {
  font-weight: bold;
}

.factable{
		width:100%; 
		border-collapse:collapse; 
	}
	.factable td{ 
		padding:10px; 
		border:#003F87 1px solid;
		vertical-align: top;
		width: 25%;
	}
	
	.factable td a{ 
		line-height: 130% !important;
	}
	
	/* provide some minimal visual accomodation for IE8 and below */
	.factable tr{
		background: #DCEB84 !important;
	}
	/*  Define the background color for all the ODD background rows  */
	.factable tr:nth-child(odd){ 
		background: #DCEB84 !important;
	}
	/*  Define the background color for all the EVEN background rows  */
	.factable tr:nth-child(even){
		background: #fff !important;
	}

.gradtable{
		width:100%; 
		border-collapse:collapse; 
	}
	.gradtable td{ 
		padding:10px; 
		border:#003F87 1px solid;
		vertical-align: top;
		width: 25%;
	}
	
	.gradtable td a{ 
			line-height: 130% !important;
	}
	
	/* provide some minimal visual accomodation for IE8 and below */
	.gradtable tr{
		background: #DCEB84 !important;
	}
	/*  Define the background color for all the ODD background rows  */
	.gradtable tr:nth-child(odd){ 
		background: #DCEB84 !important;
	}
	/*  Define the background color for all the EVEN background rows  */
	.gradtable tr:nth-child(even){
		background: #fff !important;
	}
	

.hr-taxonomy {
height: 3px; border: 0; background: #dceb84; box-shadow: inset 0 10px 10px -12px rgba(0, 0, 0, 0.5);
}

.taxonomy-content {
border-color: #e9e9e9 !important; border-style: solid !important; margin-bottom: 10px !important; padding: 30px !important;
}

.taxonomy-content-rtmenu {
border-color: #e9e9e9 !important; border-style: solid !important; margin-bottom: 10px !important; padding: 30px !important;
}

p.taxonomy-room {
margin-top: 9px;
}

#s-lg-widget-1454529608724 .label-info {
    background-color: #006b3f;
}
#s-lg-widget-1454529608724 .label {
    border-radius: 0.25em;
    color: #fff;
    display: inline;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}


#s-lg-widget-1475624586398 .label-warning {
    background-color: #f0ad4e;
}
#s-lg-widget-1475624586398 .label {
    border-radius: 0.25em;
    color: #fff;
    display: inline;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}



#s-lg-widget-1459792576683 .label-warning {
    background-color: #f0ad4e;
}
#s-lg-widget-1459792576683 .label {
    border-radius: 0.25em;
    color: #fff;
    display: inline;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.s-lg-widget-list-description {
    font-size: 0.9em;
 }

.field-name-field-3-things-article-title {
  font-size: 28px; color: #444444;
  margin-bottom: -10px;
}

.field-name-field-3-things-author .field-label {
  font-weight: normal;
}

.field-name-field-3-things-author-title {
  padding-bottom: 20px;
}

.field-name-field-3-things-article-title {
  font-size: 28px; color: #444444;
  margin-bottom: -10px;
}

.field-name-field-3-things-author .field-label {
  font-weight: normal;
}

.field-name-field-3-things-author-title {
  margin: -20px 0px;
}

.node-type-3-things-article .panel-pane {
  border: 4px 4px 0px 4px !important;
  border-color: #E9E9E9 !important;
  border-style: solid !important;
  padding: 10px !important;
  margin-bottom: 10px !important;
}

.node-type-3-things-article .pane-1 {
  border: 0px !important;
}

.budgetfaq blockquote {
  background: #dceb84 !important;
}

.rollover-sprite {
    display:block;
    height: 263px;
    width: 350px;
    background-image: url(/files/images/LIT-tour-sprite.jpg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: top;  /* <-- this is key #1 */
}
.rollover-sprite:hover {
    background-position: bottom; /* <-- this is key #2 */
}

.LibTours {
    float: left;
    width: 55%;
}

.LibTours2 {
    float: left;
    width: 100%;
    
}

.LibToursContact {
    float: right;
    margin-right: 5%;
    width: 35%;
    background: #fff; 
    overflow: hidden; 
    border: 2px solid #003f87; 
    border-radius: 16px;
    margin-bottom: -20px;
}

.LibToursContact table thead th {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0083D6), color-stop(1, #003F87) );
    background:-moz-linear-gradient( center top, #0083D6 5%, #003F87 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0083D6', endColorstr='#003F87');
    background-color:#0083D6;
} 

.LibToursContact th h4 {
    text-align: center;
} 

.LibToursContact table {
    margin-top: 0px;
    margin-bottom: 0px;
}

.LibToursContact table td {
    padding-left: 15px;
    padding-top: 5px;
}

.LibToursContact table td.list {
    display:list-item;
    list-style:disc inside;
}

.pane-menu-menu-community-collections-res .pane-title {
    font-size: 17px;
}

.project-label {
    font-weight: bold;
}

#quickset-circulation_loan_periods .ui-accordion, #quickset-circulation_loan_periods .ui-accordion-header, #quickset-circulation_loan_periods_1 .ui-accordion, #quickset-circulation_loan_periods_1 .ui-accordion-header {
    padding-left: 2.2em;
}

.feesfines {
    width: 100%;
    margin-left: 100px;
    margin-top: 30px;
}

.myaccount {
    border: 1px solid #003f87;
    width: 75%;
    margin-bottom: 10px;
}

.cashnet {
    border: 1px solid #003f87;
    width: 75%;
}

.cashnet blockquote, .myaccount blockquote {
    max-width: 100%;
    background: #dceb84;
    margin-top: 0;
    margin-bottom: 0;
}

#todaynew a {
  color: #FFFFFF;
  float: right;
  padding-left: 4px;
}

#todaynew {
  color: #FFFFFF;
  float: right;
  padding-right: 18%;
  font-size: 75%;
}

#todaynew a:hover {
  text-decoration: underline;
}

.hours-col-loc, .s-lc-note {
  display: none;
}

#api_hours_today_iid388_lid0 {

}

table.hours-today {
  position: absolute;
  right: 0px;
  top: -18px;
  width: 142px;
}

table.hours-today td {
  background-color: #0083d6;
  position: relative;
  line-height: 16px;
}

.modern {
  display: inline-block;
  margin-top: 7px;
  font-size:14px;
  padding: 8px 10px;
  background: #C5DB01;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  transition: all 0.3s ease-out;
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2);

  /* Font styles */
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,0.7);
}

.modern2 {
  display: inline-block;
  padding: 8px 10px;
  background: #C5DB01;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  transition: all 0.3s ease-out;
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2);

  /* Font styles */
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,0.7);
}

.modern:hover, .modern2:hover  { background: #d6e86c; text-decoration: underline; }

#newsevents a.modern {
    color: #005298 !important;
}

#lc-button a.modern {
    color: #005298 !important;
}


#logonform {
  width:65%;
}

form.f-wrap-1 label input, form.f-wrap-1 label textarea, form.f-wrap-1 label select {
  float:left;
  margin-left:10px;
  width:15em;
  margin-bottom: 12px;
}

form.f-wrap-1 label .field {
  display:block;
  float:left;
  line-height:1.7;
  position:relative;
  width:15em;
}

form.f-wrap-1 div.f-submit-wrap {
  padding:5px 0 5px 8em;
}

form.f-wrap-1 input.f-submit {
  margin: 10px 0px 0px 146px;
}

#faq-droppdown1{
  width: 500px;
}

.node-17312 #div1, .node-17312 #div2, .node-17312 #div3, .node-17312 #div4, .node-17312 #div5, .node-17312 #div6, .node-17312 #div7, .node-17312 #div8, .node-17312 #div9, .node-17312 #div10, .node-17312 #div11, .node-17312 #div12, .node-17312 #div13, .node-17312 #div14 {
  background-color: #ececec;
  margin: 10px;
  padding: 10px;
}

.view-who-am-i-game td {
  vertical-align: top;
}

ul.slides div.flex-caption a {
  font-size: 80% !important;
}

div.flex-caption {
  margin-top: 0 !important;
  background-color: #fff !important;
}

.flexslider {
  border: 0px !important;
}

.node-17626 #div1, .node-17626 #div2, .node-17626 #div3, .node-17626 #div4, .node-17626 #div5, .node-17626 #div6, .node-17626 #div7, .node-17626 #div8, .node-17626 #div9, .node-17626 #div10, .node-17626 #div11, .node-17626 #div12, .node-17626 #div13 {
    background-color: #ececec;
    margin: 10px;
    padding: 3px;
}

.node-17625 #div1, .node-17625 #div2, .node-17625 #div3, .node-17625 #div4, .node-17625 #div5, .node-17625 #div6, .node-17625 #div7, .node-17625 #div8 {
    background-color: #ececec;
    margin: 10px;
    padding: 3px;
}

.node-17659 #div1, .node-17659 #div2, .node-17659 #div3, .node-17659 #div4, .node-17659 #div5, .node-17659 #div6, .node-17659 #div7, .node-17659 #div8, .node-17659 #div9, .node-17659 #div10 {
    background-color: #ececec;
    margin: 10px;
    padding: 3px;
}

.form-submit.ajax-processed {
    display: none;
}

#reserves-node-form .form-submit.ajax-processed {
    display: inline;
}

#faq-highlight #div1, #faq-highlight #div2, #faq-highlight #div3, #faq-highlight #div4, #faq-highlight #div5, #faq-highlight #div6, #faq-highlight #div7, #faq-highlight #div8, #faq-highlight #div9, #faq-highlight #div10, #faq-highlight #div11, #faq-highlight #div12, #faq-highlight #div13, #faq-highlight #div14, #faq-highlight #div15 {
    background-color: #ececec;
    margin: 10px;
    padding: 3px;
}

.pane-menu-information-services-histor h4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    width: 170px;
}

#announcement {
  background: #c5db01 none repeat scroll 0 0;
  border-radius: 4px;
  display: block;
  font-size: 15px;
  font-weight: bold;
  height: 70px;
  padding: 10px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 50px;
  width: 120px;
}