/**
 * @file
 * Customization for Dual
 *
 */

@import "base";

//
//
// Styles for the site
//
//


#onesearchLogo {
  width: 115px;
}

#exlidSearchRibbon {
  background: #FFF;
  box-shadow: -2px 3px 3px #333;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 90%;
  border-top: 0px none;
  border-bottom: 1px solid #CCC !important;
  margin-left: 0;
  
}

#scope-tabs {
  margin-left: auto;
  margin-right: auto;

}

#search_field {
    font-size: 14px;
    padding: 5px;
    border-bottom-left-radius: 8px;
    font-weight: normal;
    color: #444;
    z-index: 0;
    border-top: 0px none;
    border-left: 1px solid #CCC !important;
    border-bottom: 0px solid #CCC !important;
    border-right: 0px none;
    background: #FFF;
    width: 70%;
    height: 21px;
    padding: 5px;
}

.tabrow::before {
    margin-left: 10px;
    width: 80%;
}



.EXLSearchFieldRibbonFormSearchClear {
  float: right;
  top: -34px;
  width: 30px;
  position: relative;
  height: 2.6em;
  border-top: 0px none;
  background: #FFF;
}

#goButton {
  background: transparent;
  background-image: url('//libweb1.library.wwu.edu/primo/images/onesearch-magnifying-glass.png');
  background-size: 30px Auto;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 36px;
  height: 36px; 
  float: right;
  box-shadow: none !important;
  border: none !important;
}


#goButton:hover {
      display: inline-block;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: box-shadow;
      transition-property: box-shadow;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 3px 3px 3px #000;

}

#exlidSearchTabs li:first-child {
    padding-bottom: 0px;
}

#tab0_tip {
    left: 20px;
}

#tab1_tip {
    left: 110px;
}

#tab2_tip {
    left: 200px;
}

#search-box-standalone .tab {
  font-size: 12px;
}

#search-box-standalone .tabrow {
  height: 23px;
}

.tabtip {
  font-size: 12px;
    background: white;
    display: none;
    background-image: url('//libweb1.library.wwu.edu/primo/images/tooltips/tooltips.png');
    background-repeat: no-repeat;
    background-position: top left;
    /* font-family: 'Shadows Into Light', cursive !important; */
    font-family: 'open sans', sans-serif !important;
    color: #000 !important;
    line-height: 25px;
    padding-top: 20px;
    padding-left: 45px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    position: absolute;
    z-index: 9999;
    top: 0px;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    border-top: 0;
    border-left: 1px solid #333 !important;
    border-bottom: 1px solid #333 !important;
    box-shadow: 2px 3px 3px #333;
    min-width: 100px;
    min-height: 50px;
    max-width: 250px;
    max-height: 250px;
    word-wrap: break-word;
    top: 55px;
    left: 15px;
 }


.box-shadow-outset {
      display: inline-block;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: box-shadow;
      transition-property: box-shadow;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 3px 3px 3px #000;
  }


.hidden {
    display:  none;
}



.mw-home-links {
  float:left; 
  width: 100%; 
  margin-top: 100px;
}



.onesearch-links-login {
  float: right;
  padding-right: 10%;
  margin-top: 5px;
  font-weight: normal;
  font-size: 12px;
}

.onesearch-links-login a:link, .onesearch-links-login a:visited {
  color: #FFF;  
  text-decoration: none;
}

.onesearch-links-login a:hover, .onesearch-links-login a:active {
  text-decoration: underline;
}

.onesearch-links {
  font-size: 14px;
  text-align: left;
  display: inline-block;
  
 
  width: 99%;
  position: absolute;
  margin-top: 20px;
  color: #FFF;
}

.onesearch-links a {
  color: #FFF;
  padding-left: 5px;
  padding-right :5px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #444; 
}

.onesearch-links a:link, .onesearch-links a:visited {

}

.onesearch-links a:hover, .onesearch-links a:active {
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: underline;
  text-shadow: 1px 1px 1px #444;


}


.tab-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow: -1px 2px 9px #333;
  background: #D1D1D1;
  background: -o-linear-gradient(top, #f9f9f9 60%, #D1D1D1 100%);
  background: -ms-linear-gradient(top, #f9f9f9 60%, #D1D1D1 100%);
  background: -moz-linear-gradient(top, #f9f9f9 60%, #D1D1D1 100%);
  background: -webkit-linear-gradient(top, #f9f9f9 60%, #D1D1D1 100%);
  background: linear-gradient(top, #f9f9f9 60%, #D1D1D1 100%);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    cursor:pointer;
    color:#666666;
    padding: 12px 14px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    margin: 11px;
}

.tab-button:hover {
    text-decoration:none;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
    background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
    background-color:#e9e9e9;
}

.tab-button:active {
    position:relative;
    top:1px;
}


/* ****************************************************
                START OF DS TEST CSS
**************************************************** */

div.relative1 {
    position: relative;
    width: 100%;
   /* height: 650px; */
    
}

.tabrow {
    padding-left: 15px !important;
    }

div.OneSearch {
    overflow: hidden; 
    border: 2px solid #003f87; 
    background-color: #339cde;
    position: relative;
    font-size: 1em;
    padding: 7px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius:  16px;
   /* min-width: 590px; */
    max-width: 900px;
    
    opacity: 0.9;
    height: 133px;
    margin-bottom: 10px;
}

div.OneSearch .tabrow {
    height: 23px;
}


.up form input[type="text"] {
    box-shadow: none !important;
    }

div.ChatIcon {
    padding: 20px 10px !important; 
    position: absolute;
    bottom: 55%;
    width: 20%;
    height: 20%;
    max-height: 130px;
    max-width: 200px;
    min-width: 20%;
    margin-top: 1em;
}

#libchat_8636f218665ead7d9a4d137af903a8d4 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  max-width: 144px;
}

div.ArticleDatabases {
    padding: 4px 14px !important; 
    position: absolute;
    bottom: 55%;
    right: 0%;
    width: 62%;
    max-width: 700px;
    height: 20%;
    font: normal 100% !important;
    margin-top: 1em;
}

#s-lg-widget-1454980768142 {
    height: 10px !important;
    margin-bottom: 25px;
}

.LibEvents {
    position: absolute;
    top: 30%;
    right: 0%;
    height: 53%;
    width: 45%;
}

.LibResearch {
    position: absolute;
    bottom: 16%;
    height: 33%;
    width: 40%;
    max-width: 400px;
}

.LibUse {
    position: absolute;
    right: 0%;
    height: 25%;
    width: 45%;
}

.LibFAQ {
    position: absolute;
    bottom: 16%;
    right: 0%;
    height: 33%;
    width: 50%;
    max-width: 500px;
}

.LibPartners {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 83%;
    width: 45%;
} 

.LibPartners table {
    width: 100%;
    font: normal !important; 
    font-size: 115% !important;
}

.LibResearch table, .LibUse table {
    width: 105%;
    font: normal !important; 
    font-size: 115% !important;
}

.LibFAQ table, .LibEvents table {  
    width: 101%;
    font: normal !important; 
    font-size: 107% !important;
} 

.LibFAQ td form {  
    margin-left: -10px;
} 

div.ChatIcon, .LibEvents, .LibFAQ, div.ArticleDatabases, .LibResearch, .LibHours, .LibUse, .LibPartners {
    background: #fff; 
    overflow: hidden; 
    border: 2px solid #003f87; 
    -webkit-border-radius: 16px; 
    -moz-border-radius: 16px; 
    border-radius: 16px; 
}

div.LibHome, div.LibHome2 {
    position: relative;
    bottom: 13% !important;
}
    
div.LibHome table {    
    width: 100%;
    text-align: right;
    margin-top: -20px;
}

div.LibHome2 table {    
    width: 100%;
    text-align: left;
    margin-top: -21px;
}

div.LibHome table a, div.LibHome2 table a {    
    background-color: #bad80a;
    padding: 5px;
}

.LibFAQ table td, .LibFAQ table th, .LibEvents table td, .LibEvents table th, .LibResearch table td, .LibResearch table th, .LibUse table td, .LibUse table th, .LibPartners table td, .LibPartners table th { 
    padding: 6px 14px !important; 
}

.LibFAQ table thead th, .LibEvents table thead th, .LibResearch table thead th, .LibUse table thead th, .LibPartners table thead th {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0083D6), color-stop(1, #003F87) );
    background:-moz-linear-gradient( center top, #0083D6 5%, #003F87 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0083D6', endColorstr='#003F87');
    background-color:#0083D6; 
    color:#FFFFFF; 
    font-size: 16px !important; 
    font-weight: bold !important; 
    text-align: left;
} 

div.ArticleDatabases h2 {
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0083D6), color-stop(1, #003F87) );
    background:-moz-linear-gradient( center top, #0083D6 5%, #003F87 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0083D6', endColorstr='#003F87');
    background-color:#0083D6; 
    color:#FFFFFF !important; 
    font-size: 16px !important; 
    font-weight: bold !important; 
      height: 25px;
          margin-left: -25px;
          margin-top: -5px;
          padding-left: 25px;
          padding-top: 6px;
          text-align: left;
    width: 106% !important;
} 

div.ChatIcon h2 {
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0083D6), color-stop(1, #003F87) );
    background:-moz-linear-gradient( center top, #0083D6 5%, #003F87 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0083D6', endColorstr='#003F87');
    background-color:#0083D6; 
    color:#FFFFFF !important; 
    font-size: 16px !important; 
    font-weight: bold !important; 
      height: 25px;
          margin-left: -25px;
          margin-top: -22px;
          padding-left: 25px;
          padding-top: 6px;
          text-align: left;
    width: 115% !important;
} 

.LibFAQ table tbody td, .LibEvents table tbody td, .LibResearch table tbody td, .LibPartners table tbody td { 
    color: #003F87; 
    border-left: 2px solid #BAD80A;
    color: #000000;
}


div.ArticleDatabases form select {
     width: 75%;
}



/* ****************************************************
                END OF DS TEST CSS
**************************************************** */


/* ****************************************************
                Mobile-size -> 320px to 360px
**************************************************** */
@media all and (min-width: 320px) and (max-width: 360px) {
    
    div.relative1 {
   
    } 
    
    div.OneSearch {
    
   
    }
    .LibFAQ table thead th, .LibEvents table thead th, .LibResearch table thead th, .LibUse table thead th, .LibPartners table thead th {
        font-size: 15px !important; 
    } 
    .LibPartners table {
        width: 100%;
        font: normal !important; 
        font-size: 85% !important;
    }

    .LibResearch table, .LibUse table {
        width: 100%;
        font: normal !important; 
        font-size: 85% !important;
    }

    .LibFAQ table, .LibEvents table {  
        width: 100%;
        font: normal !important; 
        font-size: 85% !important;
    } 

    .LibEvents {
        height: 67%;
        width: 50%;
        right: 0%;
    }
    
    

    .LibResearch {
        top: 60%;
        height: 37%;
        width: 37%;
    }

    .LibUse {
        height: 28%;
        width: 50%;
        right: 0%;
    }

    .LibFAQ {
        top: 60%;
        height: 37%;
        width: 60%;
        right: 0%;
    }

    .LibPartners {
        height: 98%;
        width: 39%;
    }
    
    .LibFAQ table form textarea, .LibFAQ table form select {
        font-size: 12px !important;
    }
    
    
    div.ArticleDatabases form select {
         width: 50%;
    }
    
    div.ChatIcon, div.ArticleDatabases {
        top: 25%;
    }
    
    div.ChatIcon {
        max-height: 100px;
    }
    
    div.LibHome, div.LibHome2 {
        position: relative;
        margin-top: 20px;
}

}

/* ****************************************************
                Mobile-size -> 361px to 480px
**************************************************** */
@media all and (min-width: 361px) and (max-width: 480px) {
    
    div.relative1 {

    } 
    
    div.OneSearch {
    }
    .LibFAQ table thead th, .LibEvents table thead th, .LibResearch table thead th, .LibUse table thead th, .LibPartners table thead th {
        font-size: 15px !important; 
    } 
    .LibPartners table {
        width: 100%;
        font: normal !important; 
        font-size: 85% !important;
    }

    .LibResearch table, .LibUse table {
        width: 100%;
        font: normal !important; 
        font-size: 85% !important;
    }

    .LibFAQ table, .LibEvents table {  
        width: 100%;
        font: normal !important; 
        font-size: 85% !important;
    } 

    .LibEvents {
        height: 67%;
        width: 50%;
        right: 0%;
    }

    .LibResearch {
        top: 60%;
        height: 37%;
        width: 37%;
    }

    .LibUse {
        height: 28%;
        width: 50%;
        right: 0%;
    }

    .LibFAQ {
        top: 60%;
        height: 37%;
        width: 60%;
        right: -5%;
    }

    .LibPartners {
        height: 98%;
        width: 39%;
    } 
    
    .LibFAQ table form textarea, .LibFAQ table form select {
        font-size: 12px !important;
    }
    
    div.ArticleDatabases form select {
             width: 50%;
    }
    
    div.ChatIcon, div.ArticleDatabases {
        top: 25%;
                
        }
        
    div.ChatIcon {
        max-height: 100px;
    }
        
        div.LibHome, div.LibHome2 {
            position: relative;
            margin-top: 20px;
}
    
    
    

}

/* ****************************************************
                Mobile-size -> 481px to 640px
**************************************************** */
@media all and (min-width: 481px) and (max-width: 640px) {

    div.relative1 {
    
    } 

    
    .LibFAQ table thead th, .LibEvents table thead th, .LibResearch table thead th, .LibUse table thead th, .LibPartners table thead th {
        font-size: 15px !important; 
    } 
    .LibPartners table {
        width: 100%;
        font: normal !important; 
        font-size: 85% !important;
    }

    .LibResearch table, .LibUse table {
        width: 100%;
        font: normal !important; 
        font-size: 85% !important;
    }

    .LibFAQ table, .LibEvents table {  
        width: 100%;
        font: normal !important; 
        font-size: 85% !important;
    } 

    .LibEvents {
        height: 67%;
        width: 50%;
        right: 0%;
    }

    .LibResearch {
        top: 60%;
        height: 37%;
        width: 37%;
    }

    .LibUse {
        height: 28%;
        width: 50%;
        right: 0%;
    }

    .LibFAQ {
        top: 60%;
        height: 37%;
        width: 60%;
        right: -5%;
    }

    .LibPartners {
        height: 98%;
        width: 39%;
    }
    
    .LibFAQ table form textarea, .LibFAQ table form select {
        font-size: 12px !important;
    }
    
    div.ArticleDatabases form select {
             width: 50%;
    }
    
    div.ChatIcon, div.ArticleDatabases {
                top: 25%;
                
        }
        
    div.ChatIcon {
        max-height: 100px;
    }
        
        div.LibHome, div.LibHome2 {
            position: relative;
            margin-top: 20px;
}

  
}

/* ****************************************************
              Mobile-size -> 641px to 800px
**************************************************** */
@media all and (min-width: 641px) and (max-width: 1024px) {

    div.relative1 {
 
    } 

    div.OneSearch {
    
    }
    
    .onesearch-links {
      display: inline-block;
      font-size: 11px;
      text-align: left;
    }
            
    .onesearch-links a {
      padding-left: 1px;
      padding-right: 1px;
    }
                
    .onesearch-links a:hover, .onesearch-links a:active {
      color: #fff;
      padding-left: 1px;
      padding-right: 1px;
    }
    
    .LibFAQ table thead th, .LibEvents table thead th, .LibResearch table thead th, .LibUse table thead th, .LibPartners table thead th {
        font-size: 15px !important; 
    } 
    
    .LibPartners table {
        width: 100%;
        font: normal !important; 
        font-size: 85% !important;
    }

    .LibResearch table, .LibUse table {
        width: 100%;
        font: normal !important; 
        font-size: 85% !important;
    }

    .LibFAQ table, .LibEvents table {  
        width: 100%;
        font: normal !important; 
        font-size: 85% !important;
    } 

    .LibEvents {
        height: 67%;
        width: 50%;
        right: 0%;
    }

    .LibResearch {
        top: 60%;
        height: 37%;
        width: 37%;
    }

    .LibUse {
        height: 28%;
        width: 50%;
        right: 0%;
    }

    .LibFAQ {
        top: 60%;
        height: 37%;
        width: 60%;
        right: 0%;
    }

    .LibPartners {
        height: 98%;
        width: 39%;
    }
    
    .LibFAQ table form textarea, .LibFAQ table form select {
        font-size: 12px !important;
    }

    div.ArticleDatabases form select {
             width: 50%;
    }
    
    
    div.ChatIcon, div.ArticleDatabases {
                top: 25%;
                
        }
        
    div.ChatIcon {
        max-height: 100px;
    }
        
        div.LibHome, div.LibHome2 {
            position: relative;
            margin-top: 20px;
}
    
    
    
    
}

/* ****************************************************
              Mobile-size <- 800px
**************************************************** */
@media all and (max-width: 1024px) {

div.relative1 {
    max-width: 600px;
    height: 650px
    
    }

     /* ****************************************************
                      START OF SEARCH BOX TWEAK <- 1024px
        **************************************************** */
        
            #exlidSearchRibbon {
              width: 100%;
              border-top: 0px none;
              border-bottom: 1px solid #CCC !important;
              margin-left: 0;
              }
        
            #search_field {
              width: 80%;
            }
        
            div.OneSearch {
              width: 400px;
            }
            
            .onesearch-links-login a:link, .onesearch-links-login a:visited {
              display: none;
            }
        
            .onesearch-links {
              display: inline-block;
              font-size: 11px;
              text-align: left;
            }
        
            .onesearch-links a {
              padding-left: 1px;
              padding-right: 1px;
            }
            
            .onesearch-links a:hover, .onesearch-links a:active {
              color: #fff;
              padding-left: 1px;
              padding-right: 1px;
            }
            
        /* ****************************************************
                      END OF SEARCH BOX TWEAK
           **************************************************** */


}


/* ****************************************************
              Mobile-size -> 800px
**************************************************** */
@media all and (min-width: 1025px) {
div.relative1 {
    max-width: 900px;
    height: 800px;
    }
    

div.OneSearch {
    
    }


}