/**
 * @file
 * Customization for Dual
 *
 */

@import "base";

//
//
// Styles for the site
//
//

#onesearchLogo {
  width: 115px;
}

#exlidSearchRibbon {
  background: #FFF;
  box-shadow: -2px 3px 3px #333;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 99%;
  border-top: 0px none;
  border-bottom: 1px solid #CCC !important;
  margin-left: auto;
  margin-right: auto;
}

#scope-tabs {
  margin-left: auto;
  margin-right: auto;

}

#search_field {
    font-size: 14px;
    padding-left: 10px;
    border-bottom-left-radius: 8px;
    font-weight: normal;
    color: #444;
    z-index: 0;
    border-top: 0px none;
    border-left: 1px solid #CCC !important;
    border-bottom: 0px solid #CCC !important;
    border-right: 0px;
    background: #FFF;
    width: 90%;
    height: 21px;
    padding: 5px;
}


.EXLSearchFieldRibbonFormSearchClear {
  float: right;
  top: -34px;
  width: 30px;
  position: relative;
  height: 2.6em;
  border-top: 0px none;
  background: #FFF;
}

#goButton {
  background: transparent;
  background-image: url('//libweb1.library.wwu.edu/primo/images/onesearch-magnifying-glass.png');
  background-size: 30px Auto;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 36px;
  height: 36px; 
  float: right;
  box-shadow: none !important;
  border: none !important;
}


#goButton:hover {
      display: inline-block;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: box-shadow;
      transition-property: box-shadow;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 3px 3px 3px #000;

}

#exlidSearchTabs li:first-child {
    padding-bottom: 0px;
}

#tab0_tip {
    left: 20px;
}

#tab1_tip {
    left: 110px;
}

#tab2_tip {
    left: 200px;
}

#tab3_tip {
    left: 350px;
}

#search-box-standalone .tab {
  font-size: 12px;
}

#search-box-standalone .tabrow {
  height: 23px;
}

.tabtip {
  font-size: 12px;
    background: white;
    display: none;
    background-image: url('//libweb1.library.wwu.edu/primo/images/tooltips/tooltips.png');
    background-repeat: no-repeat;
    background-position: top left;
    /* font-family: 'Shadows Into Light', cursive !important; */
    font-family: 'open sans', sans-serif !important;
    color: #000 !important;
    line-height: 25px;
    padding-top: 20px;
    padding-left: 45px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    position: absolute;
    z-index: 9999;
    top: 0px;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    border-top: 0;
    border-left: 1px solid #333 !important;
    border-bottom: 1px solid #333 !important;
    box-shadow: 2px 3px 3px #333;
    min-width: 100px;
    min-height: 50px;
    max-width: 250px;
    max-height: 250px;
    word-wrap: break-word;
    top: 55px;
    left: 15px;
 }


.box-shadow-outset {
      display: inline-block;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: box-shadow;
      transition-property: box-shadow;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 3px 3px 3px #000;
  }


.hidden {
    display:  none;
}

#search-box-standalone {
  background: #0083d6;
    background-color: rgba(0, 131, 214, 0.6);
  position: absolute;
  top: 60px;
  left: 225px;
  font-size: 1em;
  padding: 7px;
  margin-left: auto;
  margin-right: auto;
  border: 0px solid rgba(0, 0, 0, 0.5);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius:  8px;
  max-width: 1000px;
  min-width: 615px;
  opacity: 0.9;
  height: 113px;
}


.onesearch-links-login {
  float: right;
  padding-right: 8px;
  margin-top: 10px;
  font-weight: normal;
  font-size: 12px;
}

.onesearch-links-login a:link, .onesearch-links-login a:visited {
  color: #FFF;  
  text-decoration: none;
}

.onesearch-links-login a:hover, .onesearch-links-login a:active {
  text-decoration: underline;
}

.onesearch-links {
  font-size: 15px;
  text-align: right;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 99%;
  position: absolute;
  margin-top: 20px;
  color: #FFF;
}

.onesearch-links a {
  color: #FFF;
  padding-left: 18px;
  padding-right :18px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #444; 
}

.onesearch-links a:link, .onesearch-links a:visited {

}

.onesearch-links a:hover, .onesearch-links a:active {

}


.tab-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow: -1px 2px 9px #333;
  background: #D1D1D1;
  background: -o-linear-gradient(top, #f9f9f9 60%, #D1D1D1 100%);
  background: -ms-linear-gradient(top, #f9f9f9 60%, #D1D1D1 100%);
  background: -moz-linear-gradient(top, #f9f9f9 60%, #D1D1D1 100%);
  background: -webkit-linear-gradient(top, #f9f9f9 60%, #D1D1D1 100%);
  background: linear-gradient(top, #f9f9f9 60%, #D1D1D1 100%);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    cursor:pointer;
    color:#666666;
    padding: 12px 14px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    margin: 11px;
}

.tab-button:hover {
    text-decoration:none;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
    background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
    background-color:#e9e9e9;
}

.tab-button:active {
    position:relative;
    top:1px;
}

/* ****************************************************
                Mobile-size -> 480px
**************************************************** */
@media all and (max-width: 480px) {
#search-box-standalone {
    display: none;
  }
}

/* ****************************************************
                Mobile-size -> 321px to 360px
**************************************************** */
@media all and (min-width: 321px) and (max-width: 360px) {
#search-box-standalone {
    display: none;
  }
}

/* ****************************************************
                Mobile-size -> 481px to 640px
**************************************************** */
@media all and (min-width: 481px) and (max-width: 640px) {
#search-box-standalone {
    left: 0;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    width: 50%;
    max-width: 1000px;
    min-width: 630px;
    clear: both !important;
    top: 40px;
    height: 150px;
  }
}

/* ****************************************************
              Mobile-size -> 641px to 800px
**************************************************** */
@media all and (min-width: 641px) and (max-width: 800px) {
#search-box-standalone {
    left: 50px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    width: 50%;
    max-width: 1000px;
    min-width: 630px;
    clear: both !important;
    top: 40px;
    height: 150px;
  }
}


