/**
 * @file
 * Customization for Dual
 *
 */

@import "base";

//
//
// Styles for the site
//
//

@media all and (max-width: 800px) {
#post-it-note, #post-it-note-pos img {
    display: none !important;
  }
}

#post-it-note ul, #post-it-note li{
  list-style:none;
}

#post-it-note-pos ul li a {
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:8em;
  width:8em;
  padding: 0px 0px;
  margin-top: -10px;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}

#post-it-note-pos2 #post-it-note ul li a  {
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:7em;
  width:7em;
  padding: 0px 0px;
  margin-top: 20px;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}


#post-it-note ul li{
  margin:1em;
  float:left;
}

#post-it-note ul li img {
  float:left;
  padding-bottom: 5px;
}

#post-it-note ul li h5{
  line-height: 1.2;
  padding-left:10px;
}

#post-it-note ul li a p {
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:150%;
  color: red;
  line-height: 1.2;
  margin-top: 0px;
  padding-left: 20px;
}

#post-it-note-pos2 #post-it-note ul li h2{
  font-size:100%;
  font-weight:bold;
  padding-bottom:0px;
}

#post-it-note-pos2 #post-it-note ul li p a {
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:110%;
  color: red;
   margin-top: -10px;
  line-height: 1.4;
}

#post-it-note ul li a{
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform:rotate(-6deg);
}

#post-it-note ul li a:hover,ul li a:focus{
  
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
 }
 
 #post-it-note ul li a:hover p, #post-it-note-pos2 ul li a:hover p {
   text-decoration: underline;
 }